.pageContainer {
/*     display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
    min-height: 100vh;
    text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding:25px 20px;
  }
  
  .containerStyle {
    width: 50%;
    /* margin: 0 auto; */ /* Ortalamak için */
  }
  