/* Genel Konteyner */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Üstten biraz daha boşluk bırakalım */
  min-height: 80vh; /* Home sayfası biraz daha aşağıya kayacak */
  padding: 4rem 2rem; /* Daha fazla padding ekleyelim */
  text-align: center;
  background: #f8f8f8;
  margin-top: 40px; /* Home sayfası biraz daha aşağıda */
}

/* Hoş Geldiniz Metni */
.greetingText {
  font-size: 2rem;
  color: #555;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

/* Kullanıcı Adı */
.nameText {
  font-size: 3.8rem;
  font-weight: bold;
  color: #333;
  margin: 1.2rem 0;
}

/* Typewriter Efekt Metni */
.typingText {
  font-size: 1.4rem;
  color: #555;
  margin: 1.5rem 0;
  font-style: italic;
}

.resumeButton {
  background-color: #5b5bae;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.resumeButton:hover {
  background-color: #3f3f91;
  transform: scale(1.05);
}
