.skillsContainer {
  text-align: center;
  padding: 4rem 2rem;
  background-color: transparent;
  margin: 2rem auto;
  max-width: 900px;
}

.skillsTitle {
  font-size: 3.1rem;
  font-weight: bold;
  background: linear-gradient(135deg, rgb(96, 96, 165), rgb(124, 124, 179), rgb(148, 148, 200));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 3rem;
}


.errorMessage {
  color: red;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.skillsIcons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  justify-items: center;
  padding: 1rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 1.5rem;
  width: 120px;
  height: 120px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon img {
  width: 60px;
  height: 60px;
  margin-bottom: 0.5rem;
  object-fit: contain;
}

.skillName {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .skillsContainer {
    padding: 2rem 1rem;
  }

  .skillsTitle {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: linear-gradient(135deg, rgb(96, 96, 165), rgb(124, 124, 179), rgb(148, 148, 200));
  }

  .skillsIcons {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
  }

  .skill {
    width: 100px;
    height: 100px;
  }

  .icon img {
    width: 45px;
    height: 45px;
  }
}