/* Ana Container */
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Başlık Stili */
.sectionTitle {
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 40px;
  color: #2c3e50;
}

/* Eğitim Kartı */
.educationItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(8px); /* Blur efekti */
  background: rgba(255, 255, 255, 0.7); /* Şeffaf beyaz arka plan */
  border-radius: 12px;
  padding: 10px 25px 15px 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%; /* Kart tam satır genişliğinde */
  min-height: 160px; /* Yükseklik artırıldı */
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.7); /* Hafif şeffaf çerçeve */
}

.educationItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Eğitim Kartı Başlığı */
.educationItem h3 {
  font-size: 24px;
  color: #2b6cb0;
  /* margin-bottom: 10px; */
}

/* Eğitim Kartı Tarihi (Daha küçük font ve zarif) */
.educationDate {
  font-size: 14px;  /* Daha küçük font */
  color: rgba(0, 0, 0, 0.6); /* Daha silik gri ton */
  background: transparent;
  border-radius: 4px;
  font-style: italic;
  display: inline-block;
  margin-bottom: 10px; /* Başka elementlerden biraz mesafe */
}

/* Detay Paragrafları */
.educationItem p:not(.educationDate) {
  font-size: 18px;
  color: #444;
  margin: 6px 0;
  line-height: 1.5;
}




/* Responsive (Mobilde boyut ayarı) */
@media (max-width: 768px) {
  .educationDate {
    font-size: 12px;
    padding: 4px 10px;
  }
}


/* Responsive Tasarım */
@media (max-width: 768px) {
  .container {
      padding: 15px;
  }

  .educationItem {
      min-height: 180px;
      padding: 20px;
  }

  .educationDate {
      position: static;
      margin-bottom: 10px;
  }
}
