


.aboutSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.aboutSection::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Hata mesajı için stil */
.errorText {
  color: #544b4b;  /* Koyu kırmızı */
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
}


.heading {
  font-size: 3.1rem;
  font-weight: bold;
  background: linear-gradient(135deg, rgb(107, 70, 193), rgb(107, 70, 193), rgb(148, 148, 200));
  background-clip: text; /* Standart özellik */
  color: transparent; /* Yazı rengini şeffaf yapıyoruz */
  margin-bottom: 20px;
}


.aboutText {
  font-size: 1.2rem;
  color: #2b2e33;
  line-height: 1.7;
  margin-bottom: 40px;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 📌 2 sütun oluştur */
  gap: 20px; /* Kartlar arası boşluk */
  justify-content: center;
}


.card {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.icon {
  font-size: 2rem;
  color: #6b46c1;
  margin-bottom: 10px;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.cardDescription {
  font-size: 1rem;
  color: #4a5568;
  line-height: 1.5;
  text-align: left;
}

@media (max-width: 768px) {
  .cardContainer {
    grid-template-columns: 1fr; /* Single column for smaller screens */
  }

  .heading {
    font-size: 2rem;
  }

  .aboutText {
    font-size: 1rem;
  }
}
